
/* Header */

div#header ul#nav-bar {
  line-height: 50px;
  float: right;
  clear: both;
  font-size: 1.2em;
  list-style: none;
  margin: 0;
  padding: 0;
}

div#header ul#nav-bar li {
  padding: 0 0.5em;
  display: table-cell;
  vertical-align: middle;
  height: 82px;
}


/* Sidebar */

div#sidebar {
  float: left;
  height: 100%;
  max-width: 25%;
  padding: 10px;
}

/* Content */

div#content {
  float: left;
}

body.two-col div#content {
  float: left;
  max-width: 75%;
}

div#footer {
  clear: both;
}

ul#products {
  list-style: none;
  margin: 0 auto;
}

ul#products li {
  float: left;
  text-align: center;
  width: 200px;
  height: 150px;
  padding: 10px;
}

ul#products li img {
  display: block;
  margin: auto;
}

button, a.button, input.button {
  display: inline-block;
  width: auto;
  height: auto;
  cursor: pointer;
  margin: 0px;
  padding: 3px;
  background: #efefef url(../images/buttons/bg-button.png) center left repeat-x !important;
  text-decoration: none;
  font-size: 1em;
  color: inherit;
}

button img, a.button img, input.button img {
  vertical-align: middle;
  margin-right: 5px;
}

div#subtotal {
  float: right;
}

div#product-variants ul li label {
  cursor: pointer;
}
