
/* Header */

div#header ul#nav-bar {
  line-height: 50px;
  float: right;
  clear: both;
  font-size: 1.2em;
  list-style: none;
  margin: 0;
  padding: 0;
}

div#header ul#nav-bar li {
  padding: 0 0.5em;
  display: table-cell;
  vertical-align: middle;
  height: 82px;
}


/* Sidebar */

div#sidebar {
  float: left;
  height: 100%;
  max-width: 25%;
  padding: 10px;
}

/* Content */

div#content {
  float: left;
}

body.two-col div#content {
  float: left;
  max-width: 75%;
}

div#footer {
  clear: both;
}

ul#products {
  list-style: none;
  margin: 0 auto;
}

ul#products li {
  float: left;
  text-align: center;
  width: 200px;
  height: 150px;
  padding: 10px;
}

ul#products li img {
  display: block;
  margin: auto;
}
